<!doctype html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Media Library</title>
		<link href="public/js/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<style>
			body {
				padding-top:60px;
			}
		</style>
		<link href="public/js/libs/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="public/css/styles.css" />
        <script data-main="public/js/main" src="public/js/libs/require/require.js"></script>
    </head>
    <body>
        <header></header>

        <div class="container">
            <div id="content">
                Loading....
            </div>
            
            <footer>&copy; Jason Whitaker 2013</footer>
        </div> 
    </body>
</html>
