@model MediaLibrary.Models.PosterModel
@{
    ViewBag.Title = "Test";
}

<!doctype html>
<html lang="en">
    <head>
        <title>Test Container</title>
        <script type="text/javascript" src="/Public/js/libs/jquery/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
        <style type="text/css">
            .upload-area {
                border: 3px dashed #c0c0c0;
                width: 214px;
                height: 317px;
                float: left;
                padding-top:20px;
                text-align:center;
                font-weight:bold;
                font-size:2em;
                color:#808080;
                font-family:Verdana;
                -moz-border-radius:5px;
                border-radius:10px;
            }
        </style>
        <script type="text/javascript">
            $(function () {
                var acceptableTypes = ['image/jpeg'];

        var fileToUpload;

                $('#Upload').click(function () {
                    console.log($('form')[0]);
                    var formData = new FormData($('form')[0]);
                    formData.append("poster", fileToUpload);
                    $.ajax({
                        url: '/api/Poster', 
                        type: 'POST',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            show_message('successfully added ' + data.length + ' posters');

                            for (var i = 0; i < data.length; i++) {
                                append_item(data[i], true);
                            }

                            resetForm();
                        }
                    });

                    return false;
                });

                var append_item = function (item, fade) {
                    var i = $(document.createElement("div"));
                    i.html(JSON.stringify(item));

                    i.click(function () {
                        $.ajax({
                            url: '/api/Poster/' + item.Id,
                            type: 'DELETE',
                            success: function (data) {
                                show_message('Removed ' + JSON.stringify(data));
                            }
                        });
                    });

                    if (fade) {
                        i.hide();
                        i.appendTo('#poster_list').fadeIn('slow');
                    } else {
                        i.appendTo('#poster_list');
                    }
                };

                var load_posters = function () {
                    var pl = $("#poster_list");
                    pl.html("Loading Posters");

                    $.ajax({
                        url: '/api/Poster',
                        type: 'GET',
                        success: function (data) {
                            pl.html("");
                            for (var i = 0; i < data.length; i++) {
                                append_item(data[i], false);
                            }
                        }
                    });
                }

                var show_message = function (msg) {
                    var uploadMessage = $("#upload_message").fadeIn('fast');

                    uploadMessage.html(msg);

                    setTimeout(function () {
                        uploadMessage.fadeOut('slow');
                    }, 2000);
                };

                var previewPoster = function (input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#posterPreview').attr('src', e.target.result);
                            $('#posterPreview').fadeIn('slow');
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                };

                var resetForm = function () {
                    $('#posterInput').val('');
                    $('#posterPreview').fadeOut('slow');
                };

                $('#posterInput').on('change', function () {
                    previewPoster(this);
                });

                $('#remove_all').click(function (e) {
                    $.ajax({
                        url: '/api/Poster',
                        type: 'DELETE',
                        success: function (data) {
                            show_message('Removed ' + data.length + ' items');
                            load_posters();
                        }
                    });

                    return false;
                });

                $('#refresh_list').click(function (e) {
                    load_posters();
                });

                $.event.props.push('dataTransfer');

                $('#posterDroppable').on({
                    dragenter: function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        $(this).css('background-color', 'lightBlue');
                    },
                    dragleave: function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        $(this).css('background-color', 'white');
                    },
                    dragover: function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                    },
                    drop: function (e) {
                        e.preventDefault();
                        e.stopPropagation();

                        fileToUpload = e.dataTransfer.files[0];

                        if (acceptableTypes.indexOf(fileToUpload.type) != null) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $('#posterDroppable').hide();
                                $('#posterDroppable').attr('src', e.target.result);
                                $('#posterDroppable').fadeIn('slow');
                            };
                            reader.readAsDataURL(fileToUpload);
                        }

                        $(this).css('background-color', 'white');
                    }
                });

                load_posters();
            });
        </script>
    </head>
    <body>
        <header>            
            <a href="#" id="remove_all">Remove All</a>
            <a href="#" id="refresh_list">Refresh List</a>
            <div id="upload_message"></div>
        </header>



<div id="poster_list">Loading Posters...</div>



<div id="posterDroppable" class="upload-area">Movie Poster</div>

<form action="/api/Poster" method="post" enctype="multipart/form-data">

    <input type="submit" id="Upload" name="Upload" />
</form>

<img id="posterPreview" />

        </body>
    </html>